body {
    background-color: #201f31;
}

.container1 {
    background-color: #2b2a3c;
    width: 1400px;
    height: 120px;
    margin: 30px auto;  /* Center the container horizontally in the body */
    border-radius: 20px;
    display: flex;      /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center; /* Center the text inside the div */
}

.container1 .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%; /* Ensure it takes full width */

}

.content_container {
    clear: both; /* This ensures that the content container starts below any floated or flexed elements above */
    width: 1400px;
    height: auto;
    margin: 30px auto;
    color: white; 
}

h1 {
    margin-left: 30px;
}

h1 a {
    color: white;             /* Ensures text color is white */
    text-decoration: none;    /* Removes underline */
    font-weight: bold;
}

h1 a:hover {
    color: white;             /* Keeps text color white on hover */
    text-decoration: none;    /* Ensures no underline appears on hover */
}

.col-sm-2 .dropdown {
    margin-top: 15px;
}
