body {
    background-color: #201f31;
    margin: 0; /* Ensures no default margin on body */
    padding: 0; /* Ensures no default padding on body */
}

.container1 {
    background-color: #2b2a3c;
    width: 1400px;
    height: 120px;
    margin: 30px auto;  /* Center the container horizontally in the body */
    border-radius: 20px;
    display: flex;      /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center; /* Center the text inside the div */
}

.container1 .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%; /* Ensure it takes full width */

}

.content_container {
    clear: both; /* This ensures that the content container starts below any floated or flexed elements above */
    width: 1400px;
    height: auto;
    margin: 30px auto;
    color: white; 
}

h1 {
    margin-left: 30px;
}

h1 a {
    color: white;             /* Ensures text color is white */
    text-decoration: none;    /* Removes underline */
    font-weight: bold;
}

h1 a:hover {
    color: white;             /* Keeps text color white on hover */
    text-decoration: none;    /* Ensures no underline appears on hover */
}

.col-sm-2 .dropdown {
    margin-top: 15px;
}

.custom_button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.custom_button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}
  
@media (min-width: 768px) {
    .custom_button {
      padding: 0 2.6rem;
    }
}
  

.custom_button2 {
    margin-top: 15px;
    background-color: #ffbade;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.custom_button2:hover {
    box-shadow: rgba(205, 63, 200, 0.5) 0 1px 30px;
    transition-duration: .1s;
}
  
@media (min-width: 768px) {
    .custom_button2 {
      padding: 0 2.6rem;
    }
}
