body {
    background-color: #201f31;
}

.container1 {
    background-color: #2b2a3c;
    width: 1400px;
    height: 120px;
    margin: 30px auto;  /* Center the container horizontally in the body */
    border-radius: 20px;
    display: flex;      /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center; /* Center the text inside the div */
}

.container1 .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%; /* Ensure it takes full width */
}