.login_container {
    margin: auto;
    height: auto;
    width: 900px;
    border-radius: 20px;
    background-color: #2b2a3c;
}

.form_container {
    margin: 30px;
    padding-left: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 180px
}

input[type="text"], input[type="password"] {
    color: black;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #fff;
    text-decoration: none;
}

select {
    color: black; /* Font color of the selected option */
    background-color: white; /* Background color of the dropdown */
    border: 1px solid #ccc; /* Border color */
    border-radius: 2px; /* Border radius */
  }

  /* Style the options */
  option {
    color: black; /* Font color of the dropdown options */
    background-color: white; /* Background color of the dropdown options */
  }

  textarea {
    color: black; /* Font color of the text inside the textarea */
    background-color: white; /* Background color of the textarea */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Border radius */
    padding: 10px; /* Padding */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }