
{% extends "base.html" %}

{% block content %}

<div class="content_container">
    <div class="flex-layout">
        <div class="option-container">
            <div class="top-button">
                <button class="custom_button3" role="button" onclick="location.href='/account'"><span class="text">account</span></button>
            </div>
            <button class="custom_button3" role="button" onclick="location.href='/manageads'"><span class="text">manage ads</span></button>
            <button class="custom_button3" role="button" onclick="location.href='/wishlist'"><span class="text">Wishlist</span></button>
        </div>
        <div class="account-container">
            <div class="flex-layout">
                <div class="profile-picture"><img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/avatar-the-last-airbender/b/b0/Aang_img.jpg?width=325"></div>
                <div class="profile-info">
                    <div class="profile-name">account name</div>
                    <div class="email">account@gmail.com</div>
                    <div class="phone-number">+61 12 345 678</div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
