{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adtemplate.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom_button.css') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<form action="/submit-wishlist" method="POST">
    <input type="hidden" name="ad_id" value="{{ ad.ad_id }}">
    <input type="hidden" name="user" value="{{ ad.user_username }}">
    <button type="submit" class="wishlist-button">
        {% if success %}
            <i class="fa fa-heart" style="color: red;"></i> Added to Wishlist
        {% else %}
            <i class="far fa-heart"></i> Add to Wishlist
        {% endif %}
    </button>
</form>

    {% if displayedit %}
    <form action="{{ url_for('edit_ad', ad_id=ad.ad_id) }}">
        <button type="submit" class="btn btn-primary">Edit Ad</button>
    </form>
    <form action="{{ url_for('deletead') }}" method="POST" style="display:inline;">
        <input type="hidden" name="ad_id" value="{{ ad.ad_id }}">
        <input type="hidden" name="user" value="{{ current_user.username }}">
        <button type="submit" class="btn btn-danger">Delete Ad</button>

    {% endif %}

    {% if current_user.is_authenticated %}
</form>
<div class="send_container">
    <form id="sendmessage" action="{{ url_for('submit_message') }}" method="post">
        {{ form.hidden_tag() }}
        <input type="hidden" name="ad_id" value="{{ ad.ad_id }}">
        <input type="hidden" name="user" value="{{ current_user.username }}">
        {{ form.message.label }} {{ form.message() }}<br>
        {{ form.submit() }}
    </form>
</div>
{% endif %}





<div class="content_container">

    <div class="flex-layout">
        <div class="container-left">
            <div class="container2">
                <div class="title">{{ ad.ad_title}}</div><br>
                <div class="game"> Game: <span class="database_info">{{ ad.game_type}}</span></div>
                <div class="rank"> Rank: <span class="database_info">{{ ad.game_rank}}</span></div>
                <div class="user"> Seller username: <span class="database_info">{{ ad.user_username}}</span></div>
                <div class="rating"> Seller rating:  <span class="database_info">rating</span></div>
                <div class="skins"> Skins?:  <span class="database_info">{{ ad.skins}}</span></div>
                <div class="exclusive_skins"> Exlusive Skins?:  <span class="database_info">{{ ad.exclusive}}</span></div>
                <div class="date"> Last updated:  <span class="database_info">{{ ad.created_at}}</span></div>
            </div>
            <div class="container3">
                <h2>Description</h2>
                <hr>
                <p class="description">
                    {{ ad.Extra_Descrip}}
                </p>
                <div class="horizontal-boxes">
                    <div class="box"><img alt="Image description" class="box-image" data-image="image1" onclick="openModal();currentSlide(1)" class="hover-shadow cursor"></div>
                    <div class="box"><img alt="Image description" class="box-image" data-image="image2" onclick="openModal();currentSlide(2)" class="hover-shadow cursor"></div>
                    <div class="box"><img alt="Image description" class="box-image" data-image="image3" onclick="openModal();currentSlide(3)" class="hover-shadow cursor"></div>
                </div>
            </div>
        </div>
        <div class="container4">
            <img alt="Image description" class="box-image" data-image="image4" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
            <h3 class="price-button-container">
                Price:  <span class="price_tag">${{ ad.price}}</span>
                <span class="button_container">
                    <button role="button" class="custom_button">Buy</button>
                </span>
            </h3>
            
        </div>
    </div>
</div>   

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img alt="Image description" class="box-image" data-image="image1">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img alt="Image description" class="box-image" data-image="image2">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img alt="Image description" class="box-image" data-image="image3">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img alt="Image description" class="box-image" data-image="image4">
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='adtemplate.js') }}"></script>

{% endblock %}




