{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  <div class="login_container">
    <div class="form_container">
      <div id="loginForm">
        <form action="/login" method="post">
          {{ form.hidden_tag() }}
          {{ form.log_username.label }} {{ form.log_username() }}<br>
          {{ form.log_password.label }} {{ form.log_password() }}<br>
          <br>
          {{ form.submit() }}
        </form>
      </div>
      <br>
      <a href="/register">Don't have an account?</a>
    </div>
  </div>
    
{% endblock %}
