{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}



  <div id="loginForm">
    <form action="/login" method="post">
      {{ form.hidden_tag() }}
      {{ form.log_username.label }} {{ form.log_username() }}<br>
      {{ form.log_password.label }} {{ form.log_password() }}<br>
      {{ form.submit() }}
    </form>
  </div>
    <a href="/register">Don't have an account?</a>

  <button class="postad" onclick="location.href='/account/create'">Post an ad</button>
{% endblock %}
