<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="parent1">
      <div class="container">
          <div class="container-fluid">
              <div class="row", style="background-color: #2b2a3c">
                  <div class="col-sm-3" style="background-color: #2b2a3c;">
                      <h1 style="margin-left: 30px"><a href=homepage>Website Name</a></h1>
                  </div>
                  <div class="col-sm-3" style="background-color: #2b2a3c"></div>
                  <div class="col-sm-2" style="background-color: #2b2a3c">
                      <button role="button" class="custom_button2" onclick="window.location.href='buyaccount';">Buy Accounts</button>
                  </div>
                  <div class="col-sm-2" style="background-color: #2b2a3c">
                      <button role="button" class="custom_button2">Sell Accounts</button>
                  </div>
                  <div class="col-sm-2" style="background-color: #2b2a3c">
                      <button role="button" class="custom_button2" onclick="window.location.href='login';">Sign in / Register </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li> {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form id="sendrequests" action="/submit-ad" method="post">
        {{ form.hidden_tag() }}

        {{ form.titlerequest.label }} {{ form.titlerequest() }}<br>
        {{ form.games.label }} {{ form.games(id='games') }}
        {{ form.rank.label }} {{ form.rank(id='ranks', style="display:none;")}}<br>
        
        {{ form.price.label }} {{ form.price() }}<br>
        {{ form.skin.label }} {{ form.skin(id='skins') }} 
        {{ form.exclusive_skin.label(style="display:none;", id='exclusive_label') }} 
        {{ form.exclusive_skin(style="display:none;", id='exclusive') }} <br>
        {{ form.description.label }} <br> {{ form.description() }}<br>
        {{ form.images.label }} {{ form.images(multiple=True, accept="image/*", id="images") }} <br>
        <p>(*)required fields</p>
        {{ form.submit() }}
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='requestpage.js') }}"></script>
  </body>
</html> 