<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <form id="sendrequests">
        <label for="titlerequest">Title of ad</label>
        <input class="title" name="titlerequest" type="text">
        <br>
        <label for="game">Choose a Game:</label>
        <select name="game" id="games">
          <option value="CS">CSGO</option>
          <option value="League">League of Legends</option>
          <option value="OW">Overwatch</option>
          <option value="Val">Valorant</option>
        </select>
        <br>
        <label for="price">Price(AUD)</label>
        <input class="pricetag" name="price" type="text">
        <br>
        <label for="skin">Skins</label>
        <select name="skin" id="skins">
          <option value="yes">yes</option>
          <option value="no">no</option>
        </select>
        <br>
        <label for="exclusive">Exclusive Skins?</label>
        <!-- Change input here later -->
        <input type="text" name="exclusive">
        <label for="elo">Rank</label>
        <select name="elo" id="rank">
          <option value="iron">iron</option>
          <option value="silver">silver</option>
          <option value="gold">gold</option>
        </select>
        <label for="description">Extra Description (specifiy your skins and exact elo)</label>
        <input type="text" name="description" class="additionaldescrip">
    </form>
    <button type="submit" id="submitad">submit ad</button>
    <h1>REQUESTS!!!</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html> 