{% extends "base.html" %}

{% block content %}
    <div class="sellpage_container">
        <button role="button" class="custom_button">CSGO 2</button>
        <button role="button" class="custom_button">Valorant</button>
        <button role="button" class="custom_button">League</button>
        <button role="button" class="custom_button">OW 2</button>
    </div>

    <div class="display_container">
        <div class="filter_box">
            <div class="custom_checkbox">
                <input type="checkbox" id="ELO" />
                <label for="ELO" class="toggle"><span></span></label>
                <label for="ELO" class="checkbox_label">ELO</label>
            </div>
            <div class="custom_checkbox">
                <input type="checkbox" id="Price" />
                <label for="Price" class="toggle"><span></span></label>
                <label for="Price" class="checkbox_label">Price</label>
            </div>
        </div>
        <div class="accounts_container">
            <div class="accounts_container_header">
                Displaying Valorant
            </div>
            <div class="accounts_container_display">
                {% for value in ad.values() %}
                <div class="accounts">
                    <div class="accounts_image_container">
                        <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltb05f48b60fe37fe1/647e755646cddd2cfdea098d/Crystalis-Motus---Leona---Final_WEB.jpg">
                    </div>
                    <div class="accounts_title">
                        {{value}}
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

    <h1>Below are all the url ads</h1>

    {% for value in ad.values() %}
        <p><b>{{value}}</b></p>

    {% endfor %}


{% endblock %}