<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Sell Page</title>
    <style>

        .container-fluid {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    </style>
</head>
<body>
    <div class="container-fluid" style="background-color: #2A0134; color: white;">
        <h1>Sell Games</h1>
        <p>Some Words here</p>
    </div>
    <div class="container-fluid">
        <div class="col-sm-2" style="padding-top: 50px">
            <input type="radio" id="CS" name="Game Type" value="CS">
            <label for="CS">CSGO 2</label><br>
            <input type="radio" id="OW2" name="Game Type" value="OW2">
            <label for="OW2">Overwatch 2</label><br>
            <input type="radio" id="LOL" name="Game Type" value="LOL">
            <label for="LOL">League of Legends</label><br>
            <input type="radio" id="VAL" name="Game Type" value="VAL">
            <label for="VAL">Valorant</label><br>
        </div>
        <div class="col-sm-8">accounts</div>
    </div>
</body>
</html>
