@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf');}

body {
    background-color: #201f31;
}

.container1 {
    background-color: #2b2a3c;
    width: 1400px;
    height: 120px;
    margin: 30px auto;  /* Center the container horizontally in the body */
    border-radius: 20px;
    display: flex;      /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center; /* Center the text inside the div */
}

.container1 .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%; /* Ensure it takes full width */
}

.container2 {
    background-color: #2b2a3c;
    width: 900px;
    height: auto; /* Removed 'auto' to correct the height property */
    margin: 50px 30px 30px 40px; /*top right bottom left */
    border-radius: 20px;
    display: flex;      /* Use Flexbox */
    justify-content: flex-start; /* Align content to the start of the flex-direction row */
    align-items: flex-start;     /* Align items at the start of the cross axis */
    text-align: left; /* Text align left */
    flex-direction: column;
}

.title {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin: 50px 50px 10px 50px;
}

.user {
    color: white;
    font-size: medium;
    margin: 10px 0px 10px 50px;
}

.rating {
    color: white;
    font-size: medium;
    margin: 10px 0px 50px 50px
}

.database_info {
    color: #DAA520;
    font-weight: bold;
}

.description {
    color: white

}

h1 a {
    color: white;             /* Ensures text color is white */
    text-decoration: none;    /* Removes underline */
    font-weight: bold;
}

h1 a:hover {
    color: white;             /* Keeps text color white on hover */
    text-decoration: none;    /* Ensures no underline appears on hover */
}

