<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Ad Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="staticadpage.css">
    <link rel="stylesheet" type="text/css" href="custom_buttons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container1">
        <div class="row">
            <div class="col-sm-3">
                <h1 style="margin-left: 30px"><a href=Homepage.html>Website Name</a></h1>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <button role="button" class="custom_button2">Buy Accounts</button>
            </div>
            <div class="col-sm-2">
                <button role="button" class="custom_button2">Sell Accounts</button>
            </div>
            <div class="col-sm-2">
                <button role="button" class="custom_button2">Sign in / Register</button>
            </div>
        </div>
    </div>
</body>
</html>