<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Dropdown Menu</label>
    <div class="section-dropdown"> 
        <a href="#">Dropdown Link <i class="uil--arrow-right"></i></a>
        <a href="#">Dropdown Link <i class="uil--arrow-right"></i></a>
        <a href="#">Dropdown Link <i class="uil--arrow-right"></i></a>
    </div>
</body>
</html>

<i class="uil--arrow-down"></i>