{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<div class="content_container">
    <div class="flex-layout">
        <div class="option-container">
            <div class="top-button">
                <button class="custom_button3" role="button" onclick="location.href='/account'"><span class="text">account</span></button>
            </div>
            <button class="custom_button3" role="button" onclick="location.href='/manageads'"><span class="text">manage ads</span></button>
            <button class="custom_button3" role="button" onclick="location.href='/wishlist'"><span class="text">Wishlist</span></button>
            <button class="custom_button3" role="button" onclick="location.href='/messageinbox'"><span class="text">Interested Buyers</span></button>
        </div>
    </div>
</div>

<div class="display_container">
    <div class="accounts_container">
        <div class="accounts_container_header">
            {% if current_user.is_authenticated %}
                {{ current_user.name }}'s Wishlist
            {% endif %}
        </div>
        <div class="accounts_container_display">
            {% for key,value in wishes.items() %}
            <button class="accounts"onclick="location.href='{{value}}'">{{key}}</button>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}